/* article.css */

.article {
  font-family: "Source Serif 4", Charter, Georgia, serif;
  line-height: 1.65;
  font-size: 1.03rem;
  max-width: 72ch;
}

.article p {
  margin: 0.95em 0;
}

.article h1,
.article h2,
.article h3 {
  line-height: 1.18;
}

.article h1 {
  font-size: 1.55rem;
  margin: 1.5em 0 0.5em;
}

.article h2 {
  font-size: 1.2rem;
  margin: 1.6em 0 0.5em;
}

.article h3 {
  font-size: 1.05rem;
  margin: 1.4em 0 0.4em;
}

.article ul,
.article ol {
  padding-left: 1.35em;
  margin: 0.9em 0;
}

.article blockquote {
  margin: 1em 0;
  padding-left: 1em;
  border-left: 2px solid #e0e0e0;
  color: #444;
}

.article code,
.article pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 0.95em;
}

.article img {
  max-width: 100%;
  height: auto;
}